button {
    padding: 10px 20px;
    border: 1px solid rgb(142, 23, 197);
    background: rgb(142, 23, 197);
    color: white;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;

    transition: ease-out 0.3s;
}

button:hover {
    background: rgb(163, 35, 223);

    transition: ease-out 0.1s;
}