.image-preview {
    position: relative;
    display: grid;
    width: 100%;
    justify-content: center;
    height: 512px;

    >img,
    >div {
        width: 512px;
        height: 512px;
        justify-self: center;
        position: absolute;
    }

    @media screen and (max-width: 991px) {
        position: relative;
        height: var(--image-size-mobile);
        width: var(--image-size-mobile);

        >img,
        >div {
            height: var(--image-size-mobile);
            width: var(--image-size-mobile);
        }
    }

    @media screen and (max-height: 500px) {
        display: none;
    }
}