.image-preview {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;

    >img,
    >div {
        position: absolute;
    }

    @media screen and (max-width: 991px) {
        position: relative;
        height: fit-content;

        >img,
        >div {
            position: relative;
            max-height: 30vh;
            margin: 0;
            z-index: -1;
        }
    }
}