.image-preview {
    display: grid;
    width: 100%;
    justify-content: center;
    height: 50hv;

    >img,
    >div {
        justify-self: center;
        position: absolute;
    }

    @media screen and (max-width: 991px) {
        position: relative;
        height: var(--image-size-mobile);

        >img {
            height: var(--image-size-mobile);
        }
    }

    @media screen and (max-height: 500px) {
        display: none;
    }
}