/* .configurator {
    @media screen and (max-width: 991px) {
        max-height: 10vh;
    }
} */

.content {
    height: 70vh;
    overflow-y: scroll;

    @media screen and (max-width: 991px) {
        height: auto;
        max-height: calc(100vh - 350px);
    }

    @media screen and (max-height: 500px) {
        max-height: calc(100vh - 130px);
    }
}

.step-button-layout {
    @media screen and (max-width: 630px) {
        display: none;
    }
}