/* .configurator {
    @media screen and (max-width: 991px) {
        max-height: 10vh;
    }
} */

.content {
    height: 70vh;
    overflow-y: scroll;

    @media screen and (max-width: 991px) {
        height: 35vh;
    }
}

.step-button-layout {
    @media screen and (max-width: 630px) {
        display: none;
    }
}