#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.suggested-options {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
}